@import "tailwindcss";
.font-georgia {
  font-family: Georgia, serif;
}
.font-popins {
  font-family: "Poppins", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-inter {
  font-family: "Inter", "sans-serif";
}
.color-sabzi {
  color: #f15c36;
}

.color-kuk-och {
  color: #0b203b;
}
.color-gray {
  color: #323232;
}
.custom-stroke {
  -webkit-text-stroke: 1px white; /* oq rang border */
  font-family: Georgia, serif;
}
